<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Судебные приказы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Сервис формирования судебных приказов</h1>

    <!--/*--><!--@thymesVar id="greeting" type="ru.habrahabr.sergiosergio.order.Greeting"--><!--*/-->
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <h2>Введите ИНН организации</h2>
    <!--/*--><!--@thymesVar id="inn" type="int"--><!--*/-->
    <p>ОГРН или ИНН: <input type="text" th:field="*{inn}" /></p>
    <h2>Введите символы с картинки</h2>
    <!--/*--><!--@thymesVar id="captcha" type="int"--><!--*/-->
    <p>Введите символы: <input type="text" th:field="*{captcha}" /></p>

    <!--/*--><!--@thymesVar id="imageSource" type="java.lang.String"--><!--*/-->
    <img th:src="${imageSource}" />
    <!--/*--><!--@thymesVar id="logcontent" type="ru.habrahabr.sergiosergio.order.HomeController.log"--><!--*/-->
    <select >

        <option th:each="${logcontent : ${logcontent.logcontentunit.case}" ></option>

    </select>
    <p><input type="submit" value="Отправить" /> <input type="reset" value="Сброс" /></p>
</form>

</body>
</html>